{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'oomph6/bootstrap/css/bootstrap.min.css' %}" />
</head>
<body>
<div class="container">
<h2 class="text-center">列表页面</h2>
    <table class="table table-bordered">
    {% if show_add_btn %}
        <a href="{{ add_url }}" class="btn btn-primary">添加</a>
    {% endif %}
        <thead>
        <tr>
        {% for item in head_list %}
            <th>{{ item }}</th>
        {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for data in data_list %}
            <tr>
                {% for col in data %}
                    <td>{{ col }}</td>
                {% endfor %}
            </tr>
        {% endfor %}

        </tbody>
    </table>
</div>

</body>
</html>